<form [formGroup]="formulaireEtudiant">
  <div class="fields">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input formControlName="nomEtudiant" id="nomEtudiant" value="{{(etudiant$ | async)?.nom}}" matInput/>
      <mat-error *ngIf="nomEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prènom</mat-label>
      <input formControlName="prenomEtudiant" id="prenomEtudiant" value="{{(etudiant$ | async)?.prenom}}" matInput/>
      <mat-error *ngIf="prenomEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Télephone</mat-label>
      <input formControlName="telEtudiant" id="telEtudiant" type="number" matInput/>
      <mat-error *ngIf="telEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input formControlName="mailEtudiant" id="mailEtudiant" type="email" value="{{(etudiant$ | async)?.mail}}" matInput/>
      <mat-error *ngIf="mailEtudiant?.errors?.required">Ce champ est requis.</mat-error>
      <mat-error *ngIf="mailEtudiant?.errors?.email">Ceci n'est pas un e-mail valide.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input formControlName="adresseEtudiant" id="adresseEtudiant" matInput/>
      <mat-error *ngIf="adresseEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ville</mat-label>
      <input formControlName="villeEtudiant" id="villeEtudiant" matInput/>
      <mat-error *ngIf="villeEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pays</mat-label>
      <input formControlName="paysEtudiant" id="paysEtudiant" matInput/>
      <mat-error *ngIf="paysEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numéro Étudiant</mat-label>
      <input formControlName="numeroEtudiant" id="numeroEtudiant" type="number" matInput/>
      <mat-error *ngIf="numeroEtudiant?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type d'Affiliation à la Sécurité Sociale</mat-label>
      <input formControlName="typeAffiliation" id="typeAffiliation" matInput/>
      <mat-error *ngIf="typeAffiliation?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Caisse d'Assurance Maladie</mat-label>
      <input formControlName="caisseAssuranceMaladie" id="caisseAssuranceMaladie" matInput/>
      <mat-error *ngIf="caisseAssuranceMaladie?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Inscrit en (préciser la filière d'études)</mat-label>
      <input formControlName="inscription" id="inscription" matInput/>
      <mat-error *ngIf="inscription?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enseignant Référant</mat-label>
      <input formControlName="enseignantReferent" id="enseignantReferent" matInput/>
      <mat-error *ngIf="enseignantReferent?.errors?.required">Ce champ est requis.</mat-error>
    </mat-form-field>
  </div>
</form>
