header {
  background: var(--red-1000);
  height: 6.5rem;
  padding: 0 4rem 0 4rem;

  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  span {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-100);
  }

  div {
    position: relative;
    &.title {
      display: flex;
      align-items: center;
      img {
        height: 4rem;
      }

      .diplay-title {
        font-size: 2.25rem;
        margin-left: 4rem;
      }
    }

    &.account {
      margin-left: 4rem;
      display: flex;
      align-items: center;

      .display-name {
        font-size: 1.5rem;
        margin-right: 4rem;
      }

      mat-icon {
        color: var(--gray-100);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
