<header>
  <div class="title">
    <img src="../../assets/svg/logo_UGA_blanc_orange_pied.png" alt="" routerLink="">
    <span class="diplay-title">MANAGEUR FICHES</span>
  </div>
  <div class="account">
    <label *ngIf="authService.getLoggedUser()">
      <span class="display-name">{{(currentUser$ | async)?.displayName}}</span>
    </label>
    <mat-icon mat-button [matMenuTriggerFor]="menuRef">
        account_circle
    </mat-icon>

    <mat-menu #menuRef="matMenu">
      <button *ngIf="authService.getLoggedUser() | async as user; else anonymousUser"
              mat-menu-item
              (click)="authService.logout()"
      >
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
      <ng-template #anonymousUser>
        <button
          mat-menu-item
          (click)="authService.login()"
        >
          <img [src]="dataIconGoogle" width="24" height="24"/>
          &nbsp;
          <span>Connexion</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>
</header>
