<header>
  <div class="title">
    <img src="../../assets/svg/logo_UGA_blanc_orange_pied.png" alt="">
    <span class="diplay-title">MANAGEUR FICHES</span>
  </div>
  <div class="account">
    <label *ngIf="userAuthService.isLoggedIn() | async as user">
      <span class="display-name">{{user.displayName}}</span>
    </label>
    <!-- <mat-icon mat-button [matMenuTriggerFor]="menuRef">
        account_circle
    </mat-icon> -->

    <!-- <mat-menu #menuRef="matMenu">
      <button *ngIf="userAuthService.isLoggedIn() | async as user; else anonymousUser"
              mat-menu-item
              (click)="userAuthService.logout()"
      >
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
      <ng-template #anonymousUser>
        <button mat-menu-item
                (click)="userAuthService.login()"
        >
          <img [src]="dataIconGoogle" width="24" height="24"/>
          &nbsp;
          <span routerLink="/register_page">Connexion</span>
        </button>
      </ng-template>
    </mat-menu> -->
  </div>
</header>
