<div class="register-form">
  <button (click)="userFireAuth.login()">
    <img [src]="dataIconGoogle" width="24" height="24"/>
    &nbsp;
    <span>Connexion Google</span>
  </button>
  <form [formGroup]="registerForm" *ngIf="userFireAuth.isLoggedIn() | async">
    <h1>Créer Votre Compte</h1>
    <div class="fields" >
      <mat-form-field>
          <mat-label>Télephone</mat-label>
          <input formControlName="telephone" id="telephone" matInput/>
          <mat-error *ngIf="telephone?.errors?.required">Ce champ est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input formControlName="adresse" id="adresse" matInput/>
        <mat-error *ngIf="adresse?.errors?.required">Ce champ est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code Postal</mat-label>
        <input formControlName="codePostal" id="codePostal" matInput/>
        <mat-error *ngIf="codePostal?.errors?.required">Ce champ est requis.</mat-error>
        <mat-error *ngIf="codePostal?.errors?.minlength">Le Code Postal est composé de 5 nombres.</mat-error>
        <mat-error *ngIf="codePostal?.errors?.maxlength">Le Code Postal est composé de 5 nombres.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input formControlName="ville" id="ville" matInput/>
        <mat-error *ngIf="ville?.errors?.required">Ce champ est requis.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pays</mat-label>
        <input formControlName="pays" id="pays" matInput/>
        <mat-error *ngIf="pays?.errors?.required">Ce champ est requis.</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="mat-dialog-actions" *ngIf="userFireAuth.isLoggedIn() | async">
    <button [disabled]="registerForm?.invalid" mat-button (click)="register()">Créer</button>
  </div>
</div>
