<div class="register-form">
  <h1>Qui êtes vous ?</h1>
  <mat-button-toggle-group [formControl]="typeUtilisateurForm">
    <div class="buttons">
      <mat-button-toggle value="Étudiant">Étudiant</mat-button-toggle>
      <mat-button-toggle value="ServiceRH">Service RH</mat-button-toggle>
      <mat-button-toggle value="Tuteur">Tuteur</mat-button-toggle>
      <mat-button-toggle value="Enseignant">Enseignant Référant</mat-button-toggle>
    </div>
  </mat-button-toggle-group>
  <div class="mat-dialog-actions">
    <button [disabled]="!typeUtilisateurForm?.value" mat-button (click)="register()">Finaliser Inscription</button>
  </div>
</div>
