<mat-card (click)="modifyFiche()">
  <div class="progress">
    <span class="circle-validator"></span>
    <span class="progress-bar"></span>
    <span class="circle-validator"></span>
    <span class="progress-bar"></span>
    <span class="circle-validator"></span>
  </div>
  <span class="line-break"></span>
  <mat-card-header>
    <mat-card-title>{{companyName}}</mat-card-title>
    <mat-card-subtitle>{{recruiter}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description</p>
  </mat-card-content>
</mat-card>
