<mat-card (click)="modifyFiche(ficheRenseignement)">
  <div class="progress">
    <span class="circle-validator"></span>
    <span class="progress-bar"></span>
    <span class="circle-validator"></span>
    <span class="progress-bar"></span>
    <span class="circle-validator"></span>
  </div>
  <span class="line-break"></span>
  <mat-card-header>
    <div class="status">
      <mat-card-title>{{ficheRenseignement.progres}}</mat-card-title>
    </div>
      <mat-card-title>{{ficheRenseignement.raisonSociale}}</mat-card-title>
      <mat-card-subtitle>{{ficheRenseignement.representantLegal}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
