* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --blue-400: #647391;
  --blue-600: #415272;
  --blue-800: #263553;

  --green-600: #4AE58D;

  --red-400: #ff6e6e;
  --red-600: #FF4141;
  --red-800: #FF2424;
  --red-1000: #FF0000;
}

body {
  background-color: var(--blue-800);
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
