* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --blue-200: #6E7D98;
  --blue-400: #647391;
  --blue-600: #415272;
  --blue-800: #263553;

  --green-600: #4AE58D;

  --red-400: #ff6e6e;
  --red-600: #FF4141;
  --red-800: #FF2424;
  --red-1000: #FF0000;
}

body {
  background-color: var(--blue-800);
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.custom-fiche {
  mat-dialog-container {
    background-color: var(--blue-600);
  }

  h1 {
    color: var(--gray-100);
    font-size: 2rem;
    text-align: center;
  }

  .fields[_ngcontent-jpv-c88] > *[_ngcontent-jpv-c88] {
    width: 100%;
    padding: 0 6rem 0 6rem;
  }

  mat-dialog-actions {
    padding: 1rem 0 1rem 0;
    align-items: center;
  }

  // mat-label {
  //   color: var(--gray-100);
  // }

  // button {
  //   color: var(--gray-100);
  // }
}
