div {
  height: 1500px;
  position: relative;
  h1 {
    padding: 4rem 0 4rem 0;
    margin: 0 4rem 0 4rem;

    color: var(--gray-100);

    font-size: 2rem;

    border-bottom: 2px solid var(--blue-600);
  }
}
