div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0 4rem 0;
  margin: 0 4rem 0 4rem;
  border-bottom: 2px solid var(--blue-600);
  min-width: 20rem;
  h1 {
    color: var(--gray-100);
    font-size: 2rem;
    margin: 0;
  }
}



mat-grid-list {
  position: relative;
  margin: 2rem;
  // border: 1px solid white;

  mat-grid-tile {
    position: absolute;

    // border: 1px solid black;

    height: 20rem;
    min-width: 20rem;

    fiche {
      // border: 2px solid yellow;
      height: 80%;
      width: 100%;
      margin: 2rem;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
